<div class="jumbotron text-center">
    <h1> Mean Auth App</h1>
    <p class="lead">Welcome to Ena's page</p>
    <div>
    <a class="btn btn-primary" [routerLink]="['/register']"> Register </a>
    <a class="btn btn-default" [routerLink]="['/login']"> Login </a>
</div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Express Backend</h3>
        <p>A rock solid node.js/express sercer</p>
    </div>
    <div class="col-md-4">
        <h3>Another Div 2</h3>
        <p>A rock solid node.js/express sercer</p>
    </div>
    <div class="col-md-4">
        <h3>Another Div 3</h3>
        <p>A rock solid node.js/express sercer</p>
    </div>
</div>